.toolbarbutton-text {
    color: var(--primary-light) !important;
}
#PlacesToolbarItems > .bookmark-item {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

/* Move favicons left */
#PlacesToolbarItems > .bookmark-item > .toolbarbutton-icon[label]:not([label=""]) {
    margin-inline-start: -3px !important;
}
