/* Style top border & color background */
.browserContainer > findbar {
    border-top: var(--border-width) solid var(--grey-80) !important;
    background: var(--primary-background) !important;
}

/* Style buttons */
.findbar-find-previous, .findbar-find-next {
    border: none !important;
    background: none !important;
    border-radius: var(--border-width) !important;
    fill: #FFF !important;
}

/* Fix spacing */
.findbar-find-previous {
    margin-left: 6px !important;
}

/* Style buttons on hover */
.findbar-find-previous:hover, .findbar-find-next:hover {
	background: var(--toolbarbutton-hover-background) !important;
}