/* Prevent white flash on page load */
browser[type="content-primary"], tabbrowser tabpanels, #appcontent > #content {
	background-color: var(--primary-dark) !important;
}
/* Titlebar/button color */
toolbar#TabsToolbar {
    -moz-appearance: none !important;
    background-color: var(--primary-dark) !important;
}
/* Search suggestions color */
panel[type="autocomplete"],
panel[type="autocomplete-richlistbox"],
.autocomplete-history-popup {
    background: var(--secondary-dark) !important;
    border: var(--secondary-dark) !important;
}
.search-panel-header, .autocomplete-tree
{
	color: var(--primary-light) !important;
}
/* Remove blue border around url/search bars */
#urlbar, .searchbar-textbox {
    border: none !important;
}
/* Style dialog popups */
@-moz-document url("chrome://global/content/commonDialog.xul"){
	#commonDialog {
		background-color: var(--primary-dark) !important;
		color: var(--primary-light) !important;
    }
}
/* Dark UI scrollbar (Styling for dark website scrollbar located in usercontent)*/
#bookmarksPanel, #history-panel {
	scrollbar-color: var(--primary-light) var(--secondary-dark) !important;
}
/* Style background color */
body {
    background-color: var(--primary-dark);
}
/* Remove borders */
:root {
    --tabs-border: transparent;
}
/* Position incognito indicator */
.private-browsing-indicator {
    margin-bottom: -130px !important;
    margin-right: -60px !important;
}
