/* Remove borders & shadows */
.tabbrowser-tab::after, .tabbrowser-tab::before {
    border-left: none;
}
#urlbar, .searchbar-textbox {
    border: none;
    box-shadow: none;
}
#nav-bar {
    border: none;
    box-shadow: none;
}

/* Make urlbar semi-opaque when unfocused or unhovered */
#urlbar {
    opacity: 0.5;
    transition: opacity var(--animation-time);
}
#urlbar[focused] {
    opacity: 1;
}
#urlbar:hover {
    opacity: 1;
}

/* Color megabar */
#urlbar-background {
    background: var(--tertiary-background) !important;
}
