/* Make sidebar visible */
#sidebar-box {
    z-index: 999 !important;
    position: relative !important;
}

/* Hide TST header */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
    display: none;
}

/* Set sidebar widths */
#sidebar-box, #sidebar-box #sidebar {
    max-width: none !important;
    min-width: 0px !important;
}

/* Move sidebar up */
#sidebar-box {
    margin-top: calc((var(--bookmarks-bar-height) + var(--title-bar-height)) * -1 + var(--tst-margin-top-offset));
}

/* Hide right vertical splitter when using TST. */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] + #sidebar-splitter {
    display: none !important;
}

/* Collapse sidebar until hovered when using TST. */
#sidebar-box:not([sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]) {
    min-width: var(--tst-max-width) !important;
    max-width: none !important;
}
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
    position: relative !important;
    transition: all var(--animation-time) !important;
    min-width: var(--tst-min-width) !important;
    max-width: var(--tst-min-width) !important;
}
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover {
    min-width: var(--tst-max-width) !important;
    max-width: var(--tst-max-width) !important;
    /* Keep webview from being pushed to the side. */
    margin-right: calc((var(--tst-max-width) - var(--tst-min-width)) * -1) !important;
}
