/* Make sidebar visible */
#sidebar-box {
    z-index: 999 !important;
    position: relative !important;
}

/* Hide sidebery header */
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] #sidebar-header {
    display: none;
}

/* Set sidebar widths */
#sidebar-box, #sidebar-box #sidebar {
    max-width: none !important;
    min-width: 0px !important;
}

/* Hide right vertical splitter when using TST. */
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] + #sidebar-splitter {
    display: none !important;
}

/* Collapse sidebar until hovered when using TST. */
#sidebar-box:not([sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]) {
    min-width: var(--tst-max-width) !important;
    max-width: none !important;
}
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] {
    position: relative !important;
    transition: all var(--animation-time) !important;
    min-width: var(--tst-min-width) !important;
    max-width: var(--tst-min-width) !important;
}
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:hover {
    min-width: var(--tst-max-width) !important;
    max-width: var(--tst-max-width) !important;
    /* Keep webview from being pushed to the side. */
    margin-right: calc((var(--tst-max-width) - var(--tst-min-width)) * -1) !important;
}
