:root {
    /* Colors */
    --primary-background: #222222;
    --primary-background-hover: #555555;
    --secondary-background: #2b2b2b;
    --tertiary-background: #303030;
    --text: #aaa;
    --text-disabled: #555555;
    --accent: #1e1e1e;
    --accent-hover: #3f3f3f;

    /* TST */
    --tst-margin-top-offset: 20px;
    --tst-min-width: 40px;
    --tst-max-width: 200px;

    /* Misc. */
    --window-control-width: 150px;
    --top-drag-space: 5px;
    --animation-time: 0.3s;
    --border-width: 2px;
    --bookmarks-bar-height: 25px;
    --title-bar-height: 38px;
}
