:root {
    --primary-dark: #323234;
    --secondary-dark: #464646;
    --primary-light: #aaa;
    --secondary-light: #555555;
    --accent-dark: #1e1e1e;
    --accent-light: #3f3f3f;
    --animation-time: 0.3s;
    --tst-margin-top: -70px;
    --tst-min-width: 40px;
    --tst-max-width: 200px;
    --window-control-width: 150px;
}
