@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url(http://www.w3.org/1999/xhtml);


/* Remove black bar below bookmarks */
.tabbrowser-tab { text-shadow: none !important; }
.toolbarbutton-text { text-shadow: none !important; }
.toolbarbutton-text { color: #000000 !important; }
#navigator-toolbox { border-bottom: 0px !important; }


/* Disable white flash on page load */
browser[type="content-primary"], tabbrowser tabpanels, #appcontent > #content {
	background-color: #323234 !important;
}


/* Titlebar/button color */
toolbar#TabsToolbar {
    -moz-appearance: none !important;
    background-color: #323234 !important;
}


/* Search suggestions color */
panel[type="autocomplete"],
panel[type="autocomplete-richlistbox"],
.autocomplete-history-popup {
    background: #464648 !important;
    border: #464648 !important;
}
.search-panel-header, .autocomplete-tree
{
	color: #aaa !important;
}


/* Style find bar */
/*Top border*/
.browserContainer > findbar {
    border-top: 1px solid var(--grey-80) !important;
}
/* Change buttons */
.findbar-find-previous, .findbar-find-next {
    border: none !important;
    background: none !important;
    border-radius: 2px !important;
    fill: #FFF !important;
}
/* Fix spacing */
.findbar-find-previous {
  margin-left: 6px !important;
}
/* Buttons on hover */
.findbar-find-previous:hover,
.findbar-find-next:hover {
  background: var(--toolbarbutton-hover-background) !important;
}


/* Style tab */
/* Style active tab blue bar */
.tabbrowser-tab {
	--tab-line-color: #323234 !important;
}
/* Active tab color */
.tab-background[selected="true"] {
    background-attachment: none !important;
    background-color: #525254 !important;
    background-image: none !important;
}


/* Remove blue border around url/search bars and change background color */
#urlbar, .searchbar-textbox {
    border: none !important;
}


/* Style sidepanel */
/* General */
#bookmarks-view, #historyTree, #history-panel, #sidebar-header, #sidebar {
    background-color: #323234 !important;
    color: #ccc !important;
    border: 0px !important;
}
#bookmarks-view {
    background-color: #323234 !important;
    border: 0px !important;
}
#viewButton {
    color: #aaa !important;
}
/* Thin splitter */
#sidebar-splitter {
  width: 1px !important;
}
/* Dark sidebar searchbox (and resize) */
#sidebar-search-container textbox {
    -moz-appearance: none !important;
    background-color: #464646 !important;
    color: #FFF !important;
    border: 0px !important;
    height: 30px !important;
}
/* Hide sidebar box border */
#sidebar-search-container {
    background-color: #313133 !important;
}
/* Change folder icon color */
.bookmark-item[container], treechildren::-moz-tree-image(container) {
 fill: #aaa !important;
}


/* Context menu */
menuitem:not([disabled=true]), menu {
    color: #aaa !important
}
menuitem[disabled=true] {
    color: #222 !important;
}
#context-navigation {
    background-color: #323234 !important;
}
menuseparator {
    display: none !important;
}
menupopup {
    -moz-appearance: none !important;
    border: 1px #464646 solid !important;
    background-color: #323234 !important;
}


/* Style bookmarks bar text */
.toolbarbutton-text {
    color: #aaa !important;
}


/* Style dialog popups */
@-moz-document url("chrome://global/content/commonDialog.xul"){
	#commonDialog{
		background-color: #323234 !important;
		color: #aaa !important;
  }
}


/* Dark panel scrollbar (Dark webpage scrollbar is in usercontent)*/
#bookmarksPanel, #history-panel {
	scrollbar-color: #838384 #454545 !important;
}


/* Fix white flash during page load */
tabpanels{
background-color: #323234 !important;
}


/* Dark hamburger menu */
.panel-arrow {
  fill: #323234 !important; 
}
.subviewbutton.panel-subview-footer {
  background-color: #323234 !important;
  border-top: 0px solid red !important;
}
.panel-header {
  border-bottom: 1px solid rgb(30,30,30) !important;
  background: rgb(30,30,30) !important; 
}
.panel-subview-footer,[class^="PanelUI-"] {
color: lightgray !important;
background: #323234 !important;
}
.subviewbutton.panel-subview-footer {
  background-color: rgb(30,30,30) !important;
  border-top: 1px solid rgb(30,30,30) !important;
}


/* !!! */
/* !!! RESPONSIVE MINIMAL DESIGN CSS !!! */
/* !!! */


/* Contextual toolbar buttons, only show on hover, this is what matters, the rest of the file are just style tweaks I like */
:root:not([customizing]) #nav-bar toolbarbutton {
  margin-left: -28px !important;
  opacity: 0 !important;
  transform: scale(.85, .85) !important;
  pointer-events: none !important;
  transition: all 100ms var(--animation-easing-function) !important;
}

:root:not([customizing]) :hover > #nav-bar toolbarbutton,
:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar toolbarbutton,
:root:not([customizing]) :hover > #titlebar toolbarbutton {
  transform: scale(1, 1) !important;
  opacity:1 !important;
  margin-left:0 !important;
  pointer-events: auto !important;
}

/* Misc style tweaks */

/* some experimentation with expanding tab on hover to see the title better, it's kinda stupid but I was just messing around, could be something useful in the future */
/*
.tabbrowser-tab:not([selected]):hover { 
  min-width: 300px !important;
  transition: min-width 150ms var(--animation-easing-function) 2s !important;
}
*/

/* Remove borders everywhere, some code copied from edge style for firefox */
 :root {
  --tabs-border: transparent !important;
}
.tabbrowser-tab::after, .tabbrowser-tab::before {
  border-left: none !important;
}
#urlbar, .searchbar-textbox {
  border: none !important;
  box-shadow: none !important;
}
#nav-bar {
	margin-top: 0px !important;
	border-top: 0px !important;
	box-shadow: none !important;
}

/* nav bar is semi opaque when unhovered */
#nav-bar > * {
  opacity:0.5;
  transition: opacity 0.3s;
}
#nav-bar:hover > * {
  opacity:1 !important;
}
#urlbar {
  opacity:1 !important;
}
#urlbar .urlbar-input-box {
  opacity:1 !important;
}
#urlbar, .searchbar-textbox {
	border: 0px !important;
	height: 20px !important;
}
#urlbar {
	margin-left: 1px !important;
	margin-right: 1px !important;
}
.tab-background {
	border-top: none !important;
}
.tabs-newtab-button, #new-tab-button, #alltabs-button {
	color: rgba(240, 240, 240, 1);
	border-top: 0px !important;
	margin-bottom: 0px !important;
}
window:not([chromehidden~="toolbar"]) #urlbar-container > .toolbarbutton-1:-moz-any([disabled], :not([open]):not([disabled]):not(:active)) > .toolbarbutton-icon[class], #main-window:not([customizing]) #back-button[disabled] > .toolbarbutton-icon[class] {
	box-shadow: none !important;
	border: 0px !important;
}

/* Only show close buttons on background tabs when hovering with the mouse (Credit to Timvde) */
.tabbrowser-tab:not([selected]):not([pinned]) .tab-close-button {
  display: none !important;
}

.tabbrowser-tab:not([selected]):not([pinned]):hover .tab-close-button {
  display: -moz-box !important;
}

/* Underlines and dims unloaded tabs (Credit to josemam) */
.tabbrowser-tab[pending] {
 font-style: italic;
}
toolbarspring {
    min-width: 8px;
    max-width: 8px;
}

/* Change tab max width */
.tabbrowser-tab[fadein]:not([pinned]) {
    max-width: 300px !important;
}


/* !!! */
/* !!! THIS CSS MOVES THE TST SIDEBAR UP NEXT TO THE NAVBAR !!! */
/* !!! */


:root {
  /*--sidebar-width: 40px;*/
  --toolbar-height: -26px; /* what does this do ??? */
  --menubar-height: -62px;
  --toolmenubar-height: -88px; /* sum of previous two (ch: what does this do???) */
  }

#main-window[title^="Firefox Developer Edition"] #PersonalToolbar {
  visibility: visible !important;
  margin-top: -1px !important;
}
  
/* lock sidebar to height by doing the inverse margin of the toolbar element */
#sidebar-box {
  z-index: 1000 !important;
  position: relative!important;
  margin-top: var(--menubar-height) !important;
  border-right: 1px solid #ccc;
}
  
#main-window[title^="Firefox Developer Edition"] #sidebar-box {
  margin-top: var(--toolmenubar-height) !important;
}
  
/* lock sidebar to specified width */
#sidebar-box, #sidebar-box #sidebar {
    min-width: var(--sidebar-width) !important;
    max-width: var(--sidebar-width) !important;
}
  
/* hide sidebar header for tree style tabs sidebar */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
  display: none;
}
  
/* hide normal horizontal tab bar */
#TabsToolbar { visibility: collapse; }


/* !!! */
/* !!! RESPONSIVE TST CSS !!! */
/* !!! */


/* Sidebar min and max width removal */
#sidebar {
	max-width: none !important;
	min-width: 0px !important;
}
#sidebar-box {
  margin-top: -70px !important;
}
/* Hide splitter, when using Tree Style Tab. */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] + #sidebar-splitter {
	display: none !important;
}
/* Hide sidebar header, when using Tree Style Tab. */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
	visibility: collapse;
}

/* Shrink sidebar until hovered, when using Tree Style Tab. */
:root {
	--thin-tab-width: 40px;
	--wide-tab-width: 200px;
}
#sidebar-box:not([sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]) {
	min-width: var(--wide-tab-width) !important;

	max-width: none !important;
    border-right-style: none;
}
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
	position: relative !important;
	transition: all 300ms !important;
	min-width: var(--thin-tab-width) !important;
	max-width: var(--thin-tab-width) !important;
    border-right-style: none;
}
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover {
	transition: all 300ms !important;
	min-width: var(--wide-tab-width) !important;
	max-width: var(--wide-tab-width) !important;
    border-right-style: none;
    
	/* Negative right-margin to keep page from being pushed to the side. */
	margin-right: calc((var(--wide-tab-width) - var(--thin-tab-width)) * -1) !important;
}
    

/* !!! */
/* !!! CSS FROM https://www.reddit.com/r/FirefoxCSS/comments/c0fqg8/minimal_ui_and_safarilike_tabs/ USED TO MOVE WINDOW BUTTONS AND PAD UPPER BARS !!! */
/* !!! */


/* Move titlebar to position */
#titlebar {
  -moz-box-ordinal-group: 1 !important;
  visibility: collapse !important;
}

/* Move navbar to position and pad to make room for window buttons & tts sidebar */
#nav-bar {
  -moz-box-ordinal-group: 2 !important;
  padding-left: 40px !important;
  padding-right: 100px !important;
  padding-top: 30px !important;
  margin-top: -25px !important;
}

/* Move bookmarks bar to position */
#PersonalToolbar {
  -moz-box-ordinal-group: 3 !important;
  padding-left: 50px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  -moz-window-dragging: drag;
}

/* Move window buttons into position */
.titlebar-buttonbox-container {
  position: absolute;
  top: -1vh;
  right: .5vw;
}


/* !!! */
/* !!! CSS FROM https://www.reddit.com/r/FirefoxCSS/comments/asxzhl/multirow_bookmark_toolbar/ USED FOR MULTILINE BOOKMARKS !!! */
/* !!! */


/* Enable multiline functionality */
#PersonalToolbar {
  min-height: unset !important;
  max-height: unset !important;
}
#PersonalToolbar #PlacesToolbarItems {
  overflow-x: visible !important;
  overflow-y: visible !important;
  display: inline-block !important;
}
/* Move favicons left */
#PlacesToolbarItems > .bookmark-item > .toolbarbutton-icon[label]:not([label=""]) {
  margin-inline-start: -3px !important;
}
/* add more padding */
#PlacesToolbarItems > .bookmark-item {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}
